<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todos</h1>
    <ul>
    
    <table>
        <tr>
            <th>Your ToDo's</th> 
            <th>Team ToDo's</th>
        </tr>
        <tr>
            <td>
                <% todos.forEach( el => { %>
                <li class='todoItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                    <span class='del'> Delete </span>
                    <span >Due Date: <%= el.dueDate %></span>

                  <!-- <input type="datetime-local" id="due" name="due-date"> -->



                </li>
            
                <% }) %> 
            </td>
            <td>
                <% team.forEach( el => { %>
                    <li class='todoItem' data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo +" Assigned to:"+el.userName %></span>
                        <span>Due Date: <%=el.dueDate%></span>
                        <!-- <span class='del'> Delete </span> -->
                    </li>
                <% }) %> 
            </td>
        </tr>

    
        
    </table>

    
    </ul>
<!-- included team to the todo view -->
    <h2><%= user.userName %> from team <%= user.team %> has <%= left %> things left to do.</h2>
    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <label for="assign">Who's ToDo:</label>
        <select id="assign" name="teamMember">
        <% teamMembers.forEach( el => { %>
            <option value="<%= el._id %>"><%= el.userName %></option>    
        <% }) %>  
        </select> 
        <input type="date" id="dueDate" name="dueDate">   
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>