<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- added a welcome to the user - JB-->
    <h1>Welcome, <%= user.userName %> </h1>
    <h2>Todos</h2>
    <ul>
    
    <table>
        <tr>
            <th>Your ToDo's</th> 
            <th>Team ToDo's</th>
        </tr>
        <tr>
            <td>
                <% todos.forEach( el => { %>
                <li class='todoItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                    <span class='del'> Delete </span>
                    <span >Due Date: <%= el.dueDate %></span>
                    <!--dropdown status menu here-->
                    <select name="status" data-id='<%=el._id%>' class="statusDropdown" >
                        <option value=""><%= el.status %></option>
                        <option value="not_started">Not Started</option>
                        <option value="in_progress">In Progress</option>
                        <option value="completed">Completed</option> 
                    </select> 

                </li>
            
                <% }) %> 
            </td>
            <td>
                <% team.forEach( el => { %>
                    <li class='todoItem' data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo +" Assigned to:"+el.userName %></span>
                        <span>Due Date: <%=el.dueDate%></span>
                        <span>Status: <%=el.status%> </span>
                       
                        <!-- <span class='del'> Delete </span> -->
                    </li>
                <% }) %> 
            </td>
        </tr>

    
        
    </table>

    
    </ul>
<!-- included team to the todo view -->
<!--took out 'Team' for better readability -JB -->
    <h2><%= user.userName %> from <%= user.team %> has <%= left %> things left to do.</h2>

<!--Form requests createTodo for todo item  -->
    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <label for="assign">Who's ToDo:</label>
        <select id="assign" name="teamMember">
        <% teamMembers.forEach( el => { %>
            <option value="<%= el._id %>"><%= el.userName %></option>    
        <% }) %>  
        </select> 
        <input type="date" id="dueDate" name="dueDate">   
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>